
body a{
    color:black;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color:black;

    }


   .hero{
       width:100%;
       height: 100%;
       left: 0%;
       position: absolute;
       
   }

   h1{
       margin-left: 22%;
       margin-top: 3%;
   }

   .companylist{
       margin-left: 23%;
       margin-top: 20px;
       font-size: 20px;
     

   }
   ul{
    display: flex;
    flex-direction: column;
  }

   .gold a{
       color: gold;
     
   }

   ul li.gold{
    order:-1;  
    }
   
    .pinned{
    color: red;
    }

    ul li.pinned{
        order:-2;
    }