.homepage{

  background: url('../images/choice-of-programming-language.jpg') no-repeat center fixed;
  

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
   width: 100%;
   height: 100%;
    background-size: cover;
    box-shadow:inset 0 0 0 500px rgba(0,0,0,0.3);
     z-index: -1;
  }

  
  /* .homepage{ */
    /* background-image: url('../images/background.png'); */
   


    /* position: absolute; */
    /* top: 0; right: 0; bottom: 0; left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* box-shadow:inset 0 0 0 500px rgba(0,0,0,0.3); */
    /* z-index: -1; */
  /* } */

  .header{
      /* font-size: 50px;
      text-align: center;
      color:white;
      margin-top: 180px; */
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    text-shadow:  3px 3px 5px black; 
  }

.lower{
  background-color:white;
  width:100%;
  left: 0%;
  min-height: 200px;
  height: 30%;
  position: absolute;
  top:95%;
  text-indent: 50px;
background-color: rgb(255, 255, 255);
}

.scrolldown{
  position: center;
  z-index: 100;
  outline: 0;
  
  
}
.arrow{
  font-weight: 900;
    color: white;
    text-transform: uppercase;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 80%;
}

.description {
  margin-top: 50px;
  
}

.description p{
  text-indent: 70px;
}

.gotonews{
  margin-left: 850px;
  font-weight:bolder;
  color:white;
  outline: 0px;
  background-color:
  #0d253f;
  padding: 15px;
  border-radius: 50px;
  text-shadow:  3px 3px 5px black; 
  
}

.right {
  width: 220px;
  float: right;
  background: #bec6d6;
  color: black;
  }

.left {
  background: #ffffff;
  width: auto;
  overflow: hidden;
  }

  #header {
    position: relative;
    min-height: 150px;
  }
  
  #header-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  #header, #header * {
    background: rgba(40, 40, 100, 0.25);
  }

  a:visited, a:link, a:active {
    text-decoration: none;
    color:white;
}
a:hover{
    font-weight: bolder;
    
}