{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}News {% endblock %}

{% block content %}

    <h1>Posts</h1>
    <p>This page contains approved posts from all companies as well as the university</p>

    <form>
        <div class="form-group" method="post" action="{% url 'articles:list' %}">
            <input type="text" name="tag" placeholder="Filter articles..."/>
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>

    <ul>
        {% for article in article_list %}
            <li>
                <a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a>

            </li>
        {% endfor %}
    </ul>
   
{% endblock content %}
