{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>

<head>

    {% block css %}
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="{% static './css/article_list.css' %}" rel="stylesheet">

    {% endblock %}
</head>

<body>

{% block title %}News {% endblock %}

{% block content %}
<!-- <div class="container">
    <div class = "right">
        <h1>Pinned</h1>
    <ul>
        {% for article in article_list %}
        {% if article.is_pinned == True %}
            <li>
                <a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a>

            </li>
        {% endif %}
        {% endfor %}
    </ul>
    </div> -->

<div class = "left">
    <h1>Latest news</h1>
    <ul>
        {% for article in article_list %}
            <li class="article-item">
                <a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a>
        
                <div class = "article-content"> {{article.content|truncatechars:250}} </div>

                <div class="publish_date">
                    {{article.publish_date}}
                </div>
                
            </li>
        {% endfor %}
    </ul>
</div>




{% endblock content %}

</body>
</html>