{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

<!DOCTYPE html>
<html>

<head>

    {% block css %}
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="{% static './css/article_list.css' %}" rel="stylesheet">

    {% endblock %}
</head>

<body>

{% block title %}Article {% endblock %}

{% block content %}

<div class = "left">

    <h5 class="mb-1">{{ article.title }}</h5>

    <br>
    <small>
        <div class="publish_date">{{article.publish_date}}</div>
        {% if article.expiration_date %}
            <div class="exp_date">{{article.expiration_date}}</div>
        {% endif %}
    </small>
    {% for tag_name in article.tags.all %}
        <h6><span class="badge badge-info rounded-pill">{{ tag_name }}</span></h6>
    {% endfor %}

    <br>
    <hr/>
    <p> {{ article.content | markdown | safe  }} </p>

    <br>

    <hr/>

    <p class="publish_date">publicat de {{ article.author.username }}</p>

</div>

{% endblock content %}

</body>
</html>
