{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block title %}Article {% endblock %}

{% block content %}

    <h1> {{ article.title }} </h1>

    <p> {{ article.content | markdown | safe  }} </p>

    <!-- <a href="{% url 'articles:update' article.id %}">edit</a>
    <br/>
    <a href="{% url 'articles:delete' article.id %}">delete</a> -->
    Tags:
    <ul>
        {% for tag_name in article.tags.all %}
            <li>{{ tag_name }}</li>
        {% endfor %}
    </ul>

{% endblock content %}
